#infoCard{
    width: 50%;
    background-color: rgb(247, 247, 247);
    height: fit-content;
}

#main{
    background-color: rgb(76, 76, 76);
    height: 100vh;
}

.required{
    color: red;
}

@media only screen and (max-width: 600px) {
    #infoCard {
        width: 90%;
    }
  }